body{
    background-image: url(/image/churrasco.jpg);
}

.container{
    max-width: 300px;
    margin-top: 90px;
    text-align: center;
    background-color: rgba(240, 176, 58, 0.664);
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    
}
.edi{
    margin: 5px;
    width: 250px;
}
#queijo,#cerveja{
    margin-left: 5px;
    margin-right: 5px;
}
#queijo,#cerveja,#carne,#aperitivo,#refrigerante{
    border: black 3px solid;
    padding: 2px;
    margin-top: -8px;
}
#caixa{
    margin-top: 2px;
}
#mostrar{
    font-weight: bold;
    font-size: large;
}