body{
    background-image: url(/image/churrasco.jpg);
}

.container{
    max-width: 300px;
    margin-top: 90px;
    text-align: center;
    background-color: rgba(240, 176, 58, 0.664);
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    
}
.edi{
    margin: 5px;
    width: 250px;
}
#queijo,#cerveja{
    margin-left: 5px;
    margin-right: 5px;
}
#queijo,#cerveja,#carne,#aperitivo,#refrigerante{
    border: black 3px solid;
    padding: 2px;
    margin-top: -8px;
}
#caixa{
    margin-top: 2px;
}
#mostrar{
    font-weight: bold;
    font-size: large;
}
#envi {
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: black;
    background: rgba(206, 187, 151, 0.664);
  background-color: rgba(240, 176, 58, 0.664);
    border: none;
    border-radius: 8px;
    box-shadow: 12px 12px 24px rgba(151, 177, 174, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
}
    
#envi::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  #envi:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  #envi:hover::before, button:focus::before {
    opacity: 1;
  }
  
  #envi::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  #envi:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }